<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Polls</h1>
    <a href="polls/form">Calculator</a><br>
    <a href="polls/formCert">Generate a Certifiacte</a><br>
    <a href="polls/printCert">Print Certificate</a><br>
    <a href="FileUpload/form">Upload a File</a><br>
</body>
</html>